.write_container {
    margin : 100px auto;
    border : 1px solid whitesmoke;
    width : 400px;
    height : 470px;
    box-shadow : 0 0 6px rgba(0, 0, 0, 0.2);
}
.write_container h3 {
    text-align : center;
    margin-top : 40px;
}
.name_div {
    margin : 0 auto;
    width : 300px;
    display : flex;
    text-align : center;
    margin-top: 30px;
}
.name_div p {
    flex-direction: row;
    margin-left: 15px;
}
.name_div input {
    width : 200px;
    height : 25px;
    margin-left: 15px;
    margin-top : 10px;
}
.id_div {
    margin : 0 auto;
    width : 300px;
    display : flex;
    margin-left : 20px;
}
.id_div p {
    flex-direction: row;
    margin-left: 15px;
}
.id_div input {
    width : 200px;
    height : 25px;
    margin-left: 15px;
    margin-top : 10px;
}
.pwd_div {
    margin : 0 auto;
    width : 300px;
    display : flex;
}
.pwd_div p {
    flex-direction: row;
    margin-left: 20px;
}
.pwd_div input {
    width : 200px;
    height : 25px;
    margin-left: 15px;
    margin-top : 10px;
}
.pwdre_div {
    margin : 0 auto;
    width : 300px;
    display : flex;
    margin-top : 10px;
}
.pwdre_div p {
    flex-direction: row;
}
.pwdre_div input {
    width : 200px;
    height : 25px;
    margin-left: 15px;
    margin-top : 10px;
}
.btn_div {
    margin: 0 auto;
    width: 300px;
    height : 30px;
    text-align: center;
    margin-top : 40px;
}
.reset {
    margin-left: 15px;
}
/*---------유효성검사----------*/
.check {
    color: red;
    font-size: 14px;
    margin-left : 120px;
}
/*---------LoginForm---------*/
.login_container {
    margin : 100px auto;
    border : 1px solid whitesmoke;
    width : 400px;
    height : 300px;
    box-shadow : 0 0 6px rgba(0, 0, 0, 0.2);
}
.login_container h3 {
    text-align : center;
    margin-top : 30px;
}
.id_div {
    margin : 0 auto;
    width : 300px;
    display : flex;
    margin-top : 10px;
}
.id_div p {
    flex-direction: row;
    margin-left: 35px;
}
.id_div input {
    width : 200px;
    height : 25px;
    margin-left: 15px;
    margin-top : 10px;
}
.pwd_div {
    margin : 0 auto;
    width : 300px;
    display : flex;
    margin-top : 10px;
}
.pwd_div p {
    flex-direction: row;
}
.pwd_div input {
    width : 200px;
    height : 25px;
    margin-left: 15px;
    margin-top : 10px;
}
.btn_div {
    margin: 0 auto;
    width: 300px;
    height : 30px;
    margin-top : 25px;
    text-align: center;
}
.reset {
    margin-left: 15px;
}
/*---------유효성검사----------*/
.check {
    color: red;
    font-size: 14px;
    margin-left : 120px;
}